@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marqueeBlink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
    box-shadow:
      0 0 6px #FFF176,
      0 0 12px #FFD54F;
  }

  50% {
    opacity: 0.45;
    transform: scale(0.9);
    box-shadow:
      0 0 2px #FFF176;
  }
}

.marquee-light {
  animation: marqueeBlink 1s infinite;
}
/*ảnh bo tròn*/
.logo {
  width: 150px;
  height: 60px;
  object-fit: cover;   /* giữ ảnh không bị méo */
  border-radius: 10%;  /* bo tròn hoàn toàn */
}


/*tab*/
.tab-wrapper {
  display: flex;
  width: 1000px;
  max-width: 100%;
  background: 
    radial-gradient(circle at 20% 20%, rgba(0, 255, 136, 0.22), transparent 35%),
    radial-gradient(circle at 80% 70%, rgba(0, 180, 90, 0.15), transparent 40%),
    linear-gradient(180deg, #0B5A2A, #063A1C);
  border-radius: 12px;
  overflow: visible;
  margin-top: 20px;
}

.tab {
  flex: 1;
  padding: 14px 18px;
  text-align: center;
  color: #eef774;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* divider neon */
.tab:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background: linear-gradient(to bottom, transparent, #FFFF33, transparent);
  opacity: 0.5;
}

/* hover */
.tab:hover {
  color: white;
  text-shadow: 0 0 8px #FFFF33;
}

/* active */
.tab.active {
  color: #FFFF33;
  background: rgba(246, 255, 0, 0.08);
}
/*end tab*/