@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marqueeBlink {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
    box-shadow:
      0 0 6px #FFF176,
      0 0 12px #FFD54F;
  }

  50% {
    opacity: 0.45;
    transform: scale(0.9);
    box-shadow:
      0 0 2px #FFF176;
  }
}

.marquee-light {
  animation: marqueeBlink 1s infinite;
}
/*tab*/
.tab-wrapper {
  display: flex;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}

.tab {
  flex: 1;
  padding: 14px 18px;
  text-align: center;
  color: #888;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* divider neon */
.tab:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background: linear-gradient(to bottom, transparent, #00ff88, transparent);
  opacity: 0.5;
}

/* hover */
.tab:hover {
  color: white;
  text-shadow: 0 0 8px #00ff88;
}

/* active */
.tab.active {
  color: #00ff88;
  background: rgba(0, 255, 136, 0.08);
}
/*end tab*/